body {
    font:16px Helvetica;
    margin:0;
    min-height:460px;
    padding:0;
    color: #333;
}

#header {
    background: url(../images/bgheader.jpg) repeat-x fixed #000;    
    height:26px;
    padding:15px;
    margin-bottom: 15px;
}

#mainNavigation {
    margin: 10px;
}

#page {
    margin: 0 10px;

}

h1.base {
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    font:20px Helvetica;
}

h2.base {
    font-size: 16px;
    font-weight: bold;
    font:20px Helvetica;
    margin: 6px 0;
}

label.base {
    display: block;
    margin: 4px 0;
}

input.text {
    border: 1px solid #ccc;
    width: 95%;
    color: #333;
    padding-left: 4px;
    margin: 2px 0 4px 0;
    height: 30px;

}

input.button {
    border: 1px solid #bbb;
    width: 95%;
    color: #444;
    padding-left: 4px;
    margin: 2px 0 4px 0;
    height: 30px;
}

input.checkbox {
    height: 20px;
    width: 20px;
}

table .item {
    border: 1px solid #ccc;
    background-color: #eee;
}

a,
a:link,
a:visited {
	font-weight:bold;
	color:#333;
	text-decoration:none;
}
a:hover {
	font-weight:bold;
	color:#000;
	text-decoration:none;
}



a.delete {

    float: right;
    color: #a62a00;
}

a.invite {
    float: right;
    color: #439400;
}

span .action {
    position: absolute;
    text-align: right;
}

ul {
    border: 1px solid #ccc;
    margin: 6px 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: #eee;
}