body {
    font:16px Helvetica;
    margin:0;
 
    padding:0;
    color: #333;
}

#header {
    background: url(../images/bgheader.jpg) repeat-x fixed #000;    
    height:26px;
    padding:10px;
    margin-bottom: 15px;
}

#mainNavigation {
    margin: 10px;
}

#page {
    margin: 0;

}

h1.base {
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    font:20px Helvetica;
}

h1.base a:link,
h1.base a:visited,
h1.base a:hover,
h1.base a:active {
    color: #fff;
    text-decoration: none;
}

h2.base {
    font-size: 16px;
    font-weight: bold;
    font:20px Helvetica;
    margin: 10px 0 6px 0;
}

label.base {
    display: block;
    margin: 4px 0;
}

img.base {
    border: none;
}

input.text {
    border: 1px solid #ccc;
    width: 95%;
    color: #333;
    padding-left: 4px;
    margin: 2px 0 4px 0;
    height: 30px;

}

input.button {
    border: 1px solid #bbb;
    width: 95%;
    color: #444;
    padding-left: 4px;
    margin: 2px 0 4px 0;
    height: 30px;
}

input.buttonBlue {
    background-color: #aaccff;
    border-color: #0000ff;

}

input.checkbox {
    height: 20px;
    width: 20px;
}

table.items {
    font:16px Helvetica;
    border: 1px solid #ccc;
    background-color: #eee;
}

table.items tr {
    border-top: 1px solid #ccc;
    height:60px;
    padding: 10px;

}

table.items td {
    padding-left: 10px;
}


a,
a:link,
a:visited {
	font-weight:bold;
	color:#333;
	text-decoration:none;
}
a:hover {
	font-weight:bold;
	color:#111;
	text-decoration:none;
}



a.delete {
    margin-left: 8px;
    color: #a62a00;
}

a.invite {
    color: #439400;
}

ul {
    border: 1px solid #ccc;
    margin: 6px 0;
}

ul.menu li {
    cursor: pointer;
    overflow: hidden;
}

ul.menu li:hover,
table.items tr:hover {
    background-color: #ddd;
}

ul.menu li .actions {
    float: right;
    width: 55px;
}

li {
    border: 1px solid #ccc;
    padding: 10px 10px;
    background-color: #eee;
}

a.button {

    background-color: red;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    color: #fff;
    padding: 5px 4px;
}

.ajax-loader {
    background: #ffcc99;
    border: solid 1px #ff6633;
    display: none;
    font-size: 10px;
    padding: 3px;   
    position: absolute;
    right: 10px;
    top: 10px;
}

.show-block {
    display: block;
}

