body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.33em;
}

h1.base {
    font-size: 18px;
    font-weight: bold;
}

h2.base {
    font-size: 16px;
    font-weight: bold;
}

label.base {
    display: block
}



a.delete {
    color: red;
}

a.invite {
    color: blue;
}